<h1>Hello world!</h1>
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home Component</a></li>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Component</a></li>
    <li><a routerLink="/template-form" routerLinkActive="active" ariaCurrentWhenActive="page">Template Driven Form Component</a></li>
    <li><a routerLink="/reactive-form" routerLinkActive="active" ariaCurrentWhenActive="page">Reactive Form Component</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
