<div class="test">
  <h2 class="text-red">Đây là component Home</h2>
  <br>
  <h3>Trái cây</h3>
  <br>
  <table class="table">
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Price</th>
      <th>Discount</th>
    </tr>
    <tr *ngFor="let fruit of fruits2; let i = index">
      <td>{{ i + 1}}</td>
      <td>{{fruit.name | uppercase}}</td>
      <td><span [ngClass]="{'text-red' : fruit.price < 12}">{{fruit.price | currency:'VND':'symbol':'.2'}}</span></td>
      <!-- <td><span *ngIf="fruit.onSale">Sale off!</span></td> -->
      <td><span>{{ fruit.onSale | onSale | uppercase }}</span></td>
    </tr>
  </table>

</div>
