<div class="test">
  <h2 class="text-red">Đây là component Home</h2>
  <br>
  <h3>Trái cây</h3>
  <label for="">City: </label>
  <select name="" id="" (change)="selectDistrict($event)">
    <option value="{{city.city}}" *ngFor="let city of VNCities">{{city.city}}</option>
  </select>
  <br>
  <label for="">District: </label>
  <select name="" id="">
    <option *ngFor="let district of districts" value="{{district}}">{{district}}</option>
  </select>
  <br>
  <div>
    <p>Counter = {{counter}}</p>
    <p>CounterPow = {{counterPow}}</p>
  </div>
</div>
